<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Вход в личный кабинет</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	
	<div class="form">
		<h1>Вход</h1>
		<div class="input-form">
			<input type="text" placeholder="Логин">
		</div>
		<div class="input-form">
			<input type="password" placeholder="Пароль">
		</div>
		<div class="input-form">
			<input type="submit" value="Войти">
		</div>
		<a href="{% url 'forget pass' %}" class="forget">Забыли пароль?</a>
		<a href="{% url 'set up' %}" class="forget">Зарегистрироваться</a>
	</div>

</body>
</html>